<div class="footer">
  <footer class="container">

      <div class="footer-about-us">
        <img src="images/logo.png" alt="logo"/>
        <p class="footer-eslogan">Súbelo. Véndelo o intercámbialo. Así de simple.</p>
        <p class="margin-top">© 2017, All rights reserved.</p>
      </div>

      <div class="footer-links">
        <h4>Interés</h4>
        <a href="who-we-are.html">¿Quiénes somos?</a>
        <a href="faq.html">Preguntas frecuentes</a>
        <p>Contacto info@shmarket.com</p>
      </div>

      <div class="footer-social-media">
        <h4>Síguenos</h4>
          <a href="#" title="Facebook"><span class="fa fa-facebook-square fa-2x" aria-hidden="true"></span></a>
          <a href="#" title="Instagram"><span class="fa fa-instagram fa-2x" aria-hidden="true"></span></a>
          <a href="#" title="Instagram"><span class="fa fa-twitter-square fa-2x" aria-hidden="true"></span></a>
      </div>
  </footer>
  <br>
</div>
