<div class="loginContainer">
  <span ng-click="hideForm()" class="closeButton fa fa-times" aria-hidden="true"></span>

  <!-- <div class="alert alert-danger" ng-if="!$parent.sessionOpened">
      <p>Tienes que estar logueado.</p>
  </div> -->

  <div class="formHeader">
    <h2>Hola de nuevo!</h2>
    <span>Entra en tu cuenta</span>
  </div>
  <form name="loginForm" ng-submit="loginForm.$valid && doLogin()" novalidate>

      <div class="form-group">
        <label class="sr-only">Email</label>
        <input type="email" name="email" ng-model="user.email" class="form-control"
         placeholder="Tu email" required/>
      </div>


    <div class="form-group">
      <label class="sr-only">Contraseña</label>
      <input type="password" name="password" ng-model="user.password" class="form-control"
      placeholder="Contraseña" required/>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary" name="login" ng-disabled="loginForm.$invalid">Entrar</button>
    </div>

  </form>

	<div class="register-link">
		<p>Si no tienes cuenta <a href="#" ng-click="gotToRegisterForm()">Regístrate</a></p>
	</div>

  <div class="alert alert-danger margin-top" ng-if="logginError">
    <p>Usuario o contraseña incorrectos</p>
  </div>

</div>
<div class="register-success-message" ng-show="registerSucces">
  <p>Registrado correctamente. </p>
</div>
